<h1 style="margin-left:38%; padding-top:5%; font-size: 3em">Bienvenu à ENSAPay</h1>
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h2 style="margin-left: 15%; margin-top:15%; font-size: 4em;">BackOffice ?</h2>
                    <form>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" (click)="authbakoffice()" style="margin-left:25%" value="Par ici !" />
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                    <h3 style="margin-left: 2%; margin-top:14%; font-size: 4em">Agent ?</h3>
                    <form>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" (click)="authagent()" style="margin-left:25%" value="Par là !" />
                        </div>
                    </form>
                </div>
            </div>
        </div>