<!DOCTYPE html>
<html lang="en">
<head>
  <title>Agent Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
  <div class="sidenav">
    <div class="login-main-text">
      <h1 style="font-size: 5em; ">BackOffice</h1>
      <h2 style="margin-top:5%; margin-left: 5%;"> Page de confirmation</h2>
      <input type="button" value="Retour" (click)="retour()" class="btn float-right" style="background-color:gray; color: white;">
    </div>
  </div>

  <div class="main">
    <img src="assets\LOGOENSAPAY.png" alt="" style="background-color: white; opacity: 1; padding-top: 10%; padding-left: 40%;" >

      <div class="login-form">
          <h1>Vous avez créé un nouvel agent !</h1>
      </div>
  </div>


</body>
</html>